%% erlang编译配置
{erl_opts, [
    debug_info,
    warning_as_errors,
    report,
    verbose,
    {parse_transform, lager_transform}
]}.

%% 依赖
{deps,[
    {cowboy, "2.9.0"},
    {cowlib, "2.11.0"},
    {ranch, "1.8.0"},
    {jsx, "3.1.0"},
    {lager, "3.9.2"},
    {recon, "2.5.1"}
]}.

%% 插件
{plugins, [rebar3_hex]}.

%% 打包发布
{relx, 
    [
        {release, {mid_web, "1.0.0"}, 
            [
                kernel,
                sasl,
                compiler,
                {mnesia, transient},
                mid_web
            ]}, 
        {dev_mode, true}, 
        {include_erts, false}, 
        {system_libs, false}, 
        {include_src, false}, 
        {sys_config_src, "./config/sys.config.src"}, 
        {vm_args_src, "./config/vm.args.src"}, 
        {extended_start_script, true},
        %% 发布前的一些操作
        {overlay, [
            {template, "config/sys.config.src", "config/sys.config.src"},
            {copy, "ctrl", "./"},
            {copy, "config", "./"},
            {copy, "script", "./"}
        ]}
    ]}.

%% 生产服替换
{profiles, [
    {prod, [
        {relx, [
            {dev_mode, false}
        ]}
    ]}
]}.
